<launch>
<rosparam file="$(find dmapping)/config/pars.yaml" command="load" />

<node pkg="dmapping" type="calibNode" name="calibNode" respawn="false" output="screen"/>

<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

<node type="rviz" name="rviz" pkg="rviz" args="-d $(find dmapping)/config/config_file.rviz" />


</launch>
